# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
npm-debug.log*

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
documentation/
dist/
node_modules/*
node_modules2/*
node_modules copy/*
node_modules_back/*
tmp/
temp/
hooks/
plugins/*
.sourcemaps/
!plugins/*.json
platforms/*
!platforms/*.json
www/
$RECYCLE.BIN/
Solitek-Solutions-Backend
app.js
app2.js
app3.js
dbapp
signup.html
custom-signup.js
src/assets/images/*
_plugins


.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.sourcemaps/main.js.map
dist-test/*
dist/
src/**/*.js
src/**/*.map
!src/declarations.d.ts
src/**/*.d.ts
src/environments/index.ts
src/providers/index.ts
.vscode/typings/jquery/jquery.d.ts
.vscode/typings/cordova-ionic/plugins/keyboard.d.ts
.vscode/plugins.json
typings/cordova-typings.d.ts

# Ignore accidentally created SSH agent key files
eval "$(ssh-agent -s)"
eval "$(ssh-agent -s)".pub

# Ignore ZIP archives
Archive.zip
