<ion-header>
  <ion-navbar [hideBackButton]="true" color="primary">
    <ion-title>Review Ticket</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- <ion-grid>
			<ion-row *ngFor="let item of data">
				<ion-col col-4>
					<span class="edit-review-title">
						{{item[0]}}
					</span>
				</ion-col>
				<ion-col col-8>
					{{ item[1] }}
				</ion-col>
			</ion-row>
    </ion-grid> -->

  <table class="table-kv">
    <tbody>
      <tr class="kv-row" [ngClass]="item[2] || ''" *ngFor="let item of data">
        <td class="col-key">{{ item[0] }}</td>
        <td class="col-value">{{ item[1] }}</td>
        <td class="col-rule"></td>
      </tr>
    </tbody>
  </table>

  <span class="col-key photos-key">Photos:</span>
  <div class="photos-wrapper">
    <photos-row [config]="{ 'images': carPhotos }"></photos-row>
  </div>

</ion-content>

<ion-footer>
  <modal-footer [presentCancelConfirm]="false" cancelText="Go Back" (submit)="submit($event)"
    (cancel)="dismiss($event)">
  </modal-footer>
</ion-footer>