//TODO later make sure that this not affect the overal code
.color-popover{
    background-color: rgba(0, 0, 0, 0.2) !important;
    transition: background-color .25s ease-in-out !important;
    opacity: 1.0 !important;
    transition: opacity .75s ease-in-out !important;
}
color-popover {

    $colorPageHeight: 55vh;

    .scroll-content{
        overflow: hidden !important;
    }
    ion-content{

        // TODO check this, if something wrong min-height: 100% !important;
        .square {
            position: relative;
            width: 100%;
            border: 1px solid;
        }

        .square:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }

        background-color: transparent !important;

        .pins-parent-top{
            height: calc(100% - #{$colorPageHeight}) !important;
        }

        .pins-parent{

            position: fixed !important;
            bottom: -1px !important;
            top: calc(100% - #{$colorPageHeight}) !important;
            height: #{$colorPageHeight} !important;
            left: 0 !important;
            display: block !important;
            width: calc(100%) !important;
            margin: 0% 0px !important;
            background-color: #f9f9f9 !important;
            padding-top: 14px !important;

            display: flex !important;
            flex-direction: column !important;

            .pins{
                overflow: auto !important;
                flex: 1 !important;
            }
            .pins-cancel{
                button{
                    margin: 0;
                    padding: 18px;
                    font-size: 2rem;
                    color: #007aff;
                    background: 0 0;
                }
            }
            .pins,.pins-cancel{
                  background-color: #f9f9f9 !important;
            }
        }

    }
}
